
.card {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  margin-bottom: 54px;

  .product_image {
    height: 250px;
  }

  .product_title {
    width: 320px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
  }

  .product_price {
    margin-bottom: 0;
    color: rgb(145, 75, 75);
    font-size: 14px;
  }

  .product_installments {
    margin-top: 10px;
    font-size: 14px;
  }

  .button {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    text-transform: uppercase;
    padding: 15px 0px;
    width: 80%;
    text-align: center;
    font-size: 14px;
  }

  .btn_consult {
    margin-top: 85px;
  }

  &:hover {
    margin-bottom: 0;
  }

  &:hover .button {
    display: inline-block;
  }
}

@media screen and (max-width: 1700px) {
  .card {
    width: 25%;
  }
}

@media screen and (max-width: 1400px) {
  .card {
    width: 33.33%;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}


@media screen and (min-width: 767px) {
  .button {
    display: none;
  }
}


@media screen and (max-width: 767px) {
  .card {
    .product_title {
      width: 200px;
      height: 70px;
      line-height: 25px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .btn_consult{
      margin-top: 20px;
    }
  }
}
