.news {
  background-color: #F9F9F9;
  text-align: center;
  padding: 60px 0;

  .content {
    padding: 40px 0;
    width: 100%;


    h3 {
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: 8px;
      font-size: 30px;
      margin-bottom: 20px;
    }

    h5 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 0;
    }

    h6 {
      margin-top: 15px;
      font-size: 16px;
      font-weight: 500;
    }

    input {
      border: none;
      background: transparent;
      border-bottom: 1px solid #000;
      font-size: 16px;
      padding: 15px;
      margin: 15px;

      &:focus-visible {
        outline: none;
      }
    }

    button {
      background: transparent;
      color: #000;
      border: 1px solid #000;
      text-transform: uppercase;
      padding: 15px 40px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
    }
    
    .error{
      color: rgb(162, 13, 13);
    }

    .success{
      color: rgb(16, 148, 54);
      font-size: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    .content {
      padding: 20px;

      input {
        width: -webkit-fill-available;
        margin: 0;
        margin-top: 30px;
      }

      button{
        margin-top: 50px;
        width: 100%;
      }
    }
  }
}